@model WEBManagerZ.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "CreateOrder";
}
<div class=" container">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="text-center col-sm-12 col-md-12 col-lg-12">
                <h2>Fill in details</h2>
            </div>
            <div class="text-center col-sm-12 col-md-12 col-lg-12">
                <i>Price: @ViewData["ProuctSumPrice"]</i>

            </div>
            <div class="text-center col-sm-12 col-md-12 col-lg-12">
                <i>Quantity: @ViewData["ProductCount"]</i>
            </div>
        </div>
    </div>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="row " style="width:100%;text-align:center">
            <form class="text-center col-sm-12 col-md-12 col-lg-12" asp-action="CreateOrder">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input required asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="text-center form-group">
                    <label asp-for="Adress" class="control-label"></label>
                    <input required asp-for="Adress" class="form-control" />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
                <div class="text-center form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input required asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="text-center form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="text-center form-group">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                <div class="text-center form-group">
                    <input data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
