@{
}


<a asp-action="CreateDiscount" asp-controller="Admin">Create Discount</a>
<a asp-action="ListDiscounts" asp-controller="Admin">List Discounts</a>
<a asp-action="AddProductToDiscount" asp-controller="Admin">Discount Product</a>
<a asp-action="Create" asp-controller="News">Create News</a>
<a asp-action="ListNews" asp-controller="News">List News</a>