@model WEBManagerZ.ViewModels.ProductViewModel
@{
}

<form enctype="multipart/form-data" asp-action="AddPicture">
    <div class="form-group">
        <label asp-for="Picture" class="control-label"></label>
        <div class="custom-file">
            <input type="file" asp-for="Picture" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="Picture" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
    </div>
</form>

@section scripts{
    <script type="text/javascript">       
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  